---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: youtubedl
spec:
  chartRef:
    kind: OCIRepository
    name: youtubedl
  interval: 1h
  values:
    controllers:
      youtubedl:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/tzahi12345/youtubedl-material
              tag: nightly
            env:
              TZ: America/New_York
              write_ytdl_config: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    service:
      app:
        ports:
          http:
            port: &port 17442
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: youtubedl.svg
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/cluster/youtubedl
        globalMounts:
          - path: /app/appdata
      media:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/Video/youtube
        globalMounts:
          - path: /app/video
