---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kite
spec:
  chartRef:
    kind: OCIRepository
    name: kite
  interval: 1h
  values:
    controllers:
      kite:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/zxh326/kite
              tag: v0.7.6
            env:
              DEBUG: true
              ANONYMOUS_USER_ENABLED: true
              HOST: https://kite.${SECRET_DOMAIN}
              KUBECONFIG: /config/kubeconfig
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
    service:
      app:
        ports:
          http:
            port: &port 8080
    serviceMonitor:
      app:
        endpoints:
          - port: http
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      kubeconfig:
        type: secret
        name: kite-kubeconfig
        globalMounts:
          - path: /config/kubeconfig
            subPath: kubeconfig
            readOnly: true
