---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: website
spec:
  chartRef:
    kind: OCIRepository
    name: website
  interval: 1h
  values:
    controllers:
      website:
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/nginx
              tag: 1.28.0
            env:
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 65534
    #     runAsGroup: 65534
    service:
      app:
        ports:
          http:
            port: &port 80
    serviceMonitor:
      app:
        endpoints:
          - port: http
    route:
      app:
        hostnames:
          - ${SECRET_DOMAIN}
          - www.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/cluster/nginx/conf
        globalMounts:
          - path: /config/nginx
      www:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/cluster/nginx/www
        globalMounts:
          - path: /config/www
